.buttonDeleteTodo:hover{    
    border: 1px solid red !important;
    background-color: #ff000012 !important;
}

.TitleTodoCompleted {
    text-decoration: line-through;
    color: green;
}

.ItemTodo{
    display: flex;
    align-items: center;
    background-color: #d4eff7;
    margin-bottom: 4px;
    padding: 0 10px;
    max-width: 600px;
    min-width: 300px;
    position: relative;
    border-radius: 4px;
}