.ContainerFormTodo{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

}
.FormTodo{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(212, 239, 247);
    padding: 14px;
    border-radius: 8px;
}
.FormTodo > label{
    font-weight: 500;
}
.FormTodo > textarea{
    margin-top: 10px;
    outline: none;
    border-radius: 8px;
}

.TodoFormButtonContainer{
    margin-top: 10px;    
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.TodoFormButtonContainer > button{
    cursor: pointer;    
    padding: 4px 10px;
}
.TodoFormButtonContainer > button:nth-child(1){
    border: none;
    background-color: transparent;
}
.TodoFormButtonContainer > button:nth-child(1):hover{    
    font-weight: bold;
}
.TodoFormButtonContainer > button:nth-child(2){    
    background: rgb(128 208 233);
    border: 1px solid rgb(162 215 231);
    border-radius: 8px;
}
.TodoFormButtonContainer > button:nth-child(2):hover{        
    background:rgb(107 186 211);
}