.CreateTODO{
    background-color: lightblue;
    border: none;
    padding: 5px 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    right: 4%;
    cursor: pointer;
    box-shadow: 0px 0px 6px 1px #088deb;
    display: flex;
    align-items: center;
    justify-content: center;        
}
.CreateTODO>svg{    
    position: inherit;
}
.CreateTODOIcon{    
    color: rgb(65, 168, 241);
}

.circular-shadow-button {                                    
    animation: pulseShadow 2s infinite ease-in-out;
}

@keyframes pulseShadow {
    0% {
        box-shadow: 0 0 10px 2px #088deb;
    }
    50% {
        box-shadow: 0 0 20px 8px #088deb;
    }
    100% {
        box-shadow: 0 0 10px 2px #088deb;
    }
}
